@use '../../shared/sass/mixin';
@use '../../shared/sass/responsive';
@use '../../shared/sass/colors';

.dashboard-container{
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
  background: var(--background);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50vh 50vh 50vh;
  padding-top: 5rem;
  padding-bottom: 2rem;
  grid-template-areas:
  'goals finance finance projects'
  'dates dates gym projects'
  'tasks tasks meetings meetings';
  .areas{
    margin: 1rem;
    border-radius: .5rem;
    background: var(--gradient-background);
    box-shadow: .2rem .2rem .2rem var(--shadow-color1),
               -.2rem -.2rem .2rem var(--shadow-color2);
    .section-title{
      color: var(--font-color);
      text-align: center;
      padding: 2rem;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
  }
  .gym-section{
    grid-area: gym;
  }
  .finance-section{
    grid-area: finance;
  }
  .goals-section{
    grid-area: goals;
  }
  .dates-section{
    grid-area: dates;
  }
  .projects-section{
    grid-area: projects;
  }
  .meetings-section{
    grid-area: meetings;
  }
  .tasks-section{
    grid-area: tasks;
  }
}

@include responsive.dashboard();
