@use '../../shared/sass/responsive';
@use '../../shared/sass/mixin';
@use '../../shared/sass/colors';

.recovery-container{
  width: 100%;
  height: 100vh;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
  padding: 10rem 0;
  .recovery-title{
    color: var(font-color);
    font-size: 2rem;
    text-align: center;
  }
  & > input{
    @include mixin.inputs();
    width: 25rem;
  }
  .send-button{
    @include mixin.auth-buttons();
  }
  a{
    font-size: 1rem;
    color: var(--link-color);
    &:hover{
      color: var(--font-color);
    }
  }
}

@include responsive.recovery();
