@use './colors';

@mixin sign-up {
  @media (max-width: 1024px) {
    .sign-up-container{
      height: 100%;
      flex-direction: column;
      .sign-up{
        width: 100%;
        height: 100%;
        .sign-up-title{
          margin: unset;
          height: auto;
        }
        .sign-up-form{
          height: 70%;
          & > div{
            width: 100%;
          }
        }
      }
      .welcome-wrapper{
        display: none;
      }
    }
  }
  @media (max-width: 1024px) and (orientation: landscape) {
    .sign-up-container{
      height: 180vh;
    }
  }
}

@mixin log-in {
  @media (max-width: 1024px) {
    .log-in-container{
      height: 100%;
      .log-in-wrapper{
        width: 100%;
        padding: 10rem 2rem;
      }
      .image-wrapper{
        display: none;
      }
    }
  }
  @media (max-width: 1024px) and (orientation: landscape) {
    .log-in-container{
      height: 140vh;
      .log-in-wrapper{
        padding: 5rem 2rem;
      }
    }
  }
}

@mixin recovery {
  @media (max-width: 1024px) {
    .recovery-container{
      padding: 20rem 5rem;
      .recovery-title{
        font-size: 1.5rem;
      }
    }
  }
}

@mixin projects {
  @media (max-width: 1024px) {
    .projects-container{
      min-height: 100vh;
      overflow-y: scroll;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 2rem;
      .projects-list{
        height: 70vh;
        .list-container{
          height: 50vh;
        }
      }
      .completed-container{
        height: 70vh;
      }
    }
  }
}

@mixin nav {
  @media (max-width: 1024px) {
    .nav-container{
      justify-content: space-between;
      padding: 0 3rem;
      .nav{
        background: var(--gradient-background);
        flex-direction: column;
        position: fixed;
        height: calc(50% - 4rem);
        width: 50%;
        right: 0;
        top: 4rem;
        box-shadow: -2px 5px 5px var(--shadow-color1);
        transform: translateX(100%);
        transition: .5s;
        .services-wrapper{
          gap: 0;
          height: 80%;
          flex-direction: column;
          .list{
            height: 33%;
            width: 100%;
            border-top: 1px solid var(--shadow-color2);
            .sublist{
              top: 50%;
              left: -100%;
              box-shadow: -2px 5px 5px var(--shadow-color1);
              width: 101%;
              li{
                height: 5rem;
              }
            }
          }
        }
        .auth-user-wrapper{
          border-top: 1px solid var(--shadow-color2);
          border-bottom: 1px solid var(--shadow-color2);
          gap: 0;
          height: 20%;
          .list{
            height: 100%;
            width: 100%;
            img{
              height: 2.5rem;
            }
            i{
              font-size: 1.5rem;
            }
            .sublist{
              top: 50%;
              left: -100%;
              width: 100%;
              box-shadow: -2px 5px 5px var(--shadow-color1);
              li{
                height: 5rem;
              }
            }
          }
        }
      }
      .nav-toggle{
        transform: translateX(0);
        transition: .5s;
      }
      .bars-wrapper{
        display: flex;
      }
    }
  }
}

@mixin dashboard {
  @media (max-width: 1024px) {
    .dashboard-container{
      width: 100vw;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 40vh 40vh 40vh 40vh;
      grid-template-areas:
      'goals finance finance'
      'dates dates projects'
      'tasks tasks projects '
      'meetings meetings gym';
      .areas{
        margin: .5rem;
      }
    }
  }
  @media (max-width: 720px) {
    .dashboard-container{
      width: 100vw;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 40vh 40vh 40vh 40vh 40vh;
      grid-template-areas:
      'finance finance'
      'dates dates'
      'tasks projects '
      'gym goals'
      'meetings meetings';
      .areas{
        margin: .5rem;
      }
    }
  }
}
