@use '../../shared/sass/responsive.scss';
@use '../../shared/sass/mixin';
@use '../../shared/sass/colors';

.log-in-container{
  width: 100%;
  height: 100vh;
  background: var(--background);
  display: flex;
  align-items: center;
  overflow: hidden;
  .log-in-wrapper{
    padding: 5rem 2rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .log-in-title{
      color: var(--font-color);
      font-size: 3.2rem;
      text-transform: uppercase;
    }
    .log-in-form{
      width: 80%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      & > div{
        display: block;
        width: 100%;
        label{
          color: var(--font-color);
          font-size: 1.1rem;
        }
        input{
          @include mixin.inputs();
        }
      }
    }
    .log-in-button{
      @include mixin.auth-buttons();
    }
    .account-suggestions{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      a{
        color: var(--link-color);
        &:hover{
          color: var(--font-color);
        }
      }
    }
    & > span{
      color: var(--font-color);
      font-size: 1rem;
    }
  }
  .image-wrapper{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-wrapper{
      @include mixin.image();
    }
  }
}

@include responsive.log-in();
